* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #fff;
  text-align: center;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background: #ff900e;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #fff;
  color: #ff900e;
  border: 2px solid #ff900e;
  transition: 0.5s;
}

/* header starts */

/* navbar starts */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: var(--Dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* banner starts */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Dark-01, #131313);
  margin: 70px 0px 0px 0px;
}

.banner-discription {
  color: var(--Dark-03, #727272);
  margin: 40px 0px 40px 0px;
}

.banner-img {
  width: 100%;
  margin-top: 20px;
  margin: 50px 0px 40px 0px;
}

/* mian starts */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams starts */
.teams-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.teams-img-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin-left: 150px;
}

.teams-img-list img {
  width: 100%;
  height: 100%;
  width: 250px;
}

.teams-text {
  margin-left: 80px;
  margin-right: 150px;
}
.quick {
  color: var(--Dark-03, #727272);
  font-size: 2.813rem;
  font-weight: 500;
}

.our {
  color: var(--Dark-01, #131313);
  font-size: 2.813rem;
  font-weight: 700;
}
.team-features {
  color: #ff900e;
  font-size: 2.813rem;
  font-weight: 700;
}

.teams-text-discription {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding: 20px 0px;
}

/* responsive starts */

@media screen and (max-width: 576px) {
  /* header strats */
  header {
    padding: 30px;
  }

  nav {
    flex-direction: column;
    padding: 20px;
  }

  nav > ul li {
    padding-top: 20px;
  }

  .banner-title {
    font-size: 3rem;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  /* teams starts */

  .teams-container {
    flex-direction: column;
  }

  .teams-img-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .teams-text {
    margin: 60px;
  }
}




/* Tablet starts */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }

  header {
    padding: 30px;
  }

  .banner-title {
    font-size: 3rem;
    /* padding-bottom: 20px; */
    margin-top: 20px;
  }

  /* teams starts */
  .teams-container {
    flex-direction: column;
  }
  .teams-img-list {
    margin: 0;
  }

  .teams-text {
    margin: 60px 140px;
  }
}


