* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #fff;
  text-align: center;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background: #ff900e;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #fff;
  color: #ff900e;
  border: 2px solid #ff900e;
  transition: 0.5s;
}

/* header starts */

/* navbar starts */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: var(--Dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* banner starts */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Dark-01, #131313);
  margin: 70px 0px 0px 0px;
}

.banner-discription {
  color: var(--Dark-03, #727272);
  margin: 40px 0px 40px 0px;
}

.banner-img {
  width: 100%;
  margin-top: 20px;
  margin: 50px 0px 40px 0px;
}

/* mian starts */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams starts */
.teams-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
}

.teams-img-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin-left: 150px;
}

.teams-img-list img {
  width: 100%;
  height: 100%;
  width: 250px;
}

.teams-text {
  margin-left: 80px;
  margin-right: 150px;
}
.quick {
  color: var(--Dark-03, #727272);
  font-size: 2.813rem;
  font-weight: 500;
}

.our {
  color: var(--Dark-01, #131313);
  font-size: 2.813rem;
  font-weight: 700;
}
.team-features {
  color: #ff900e;
  font-size: 2.813rem;
  font-weight: 700;
}

.teams-text-discription {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding: 20px 0px;
}

/* features section starts */

.features-section {
  display: flex;
}
.features-section-1 {
  margin-left: 150px;
  margin-right: 80px;
}
.features-section-1-head {
  color: var(--Dark-01, #131313);
  font-size: 2.813rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.features-section-1-discribtion {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 50px;
}

.features-section-cart {
  margin-left: 30px;
  margin-bottom: 45px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}

.features-section-cart-head {
  color: var(--Dark-01, #131313);
  font-size: 1.25rem;
  font-weight: 600;
}

.features-section-cart-p {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.features-section-2-img {
  width: 708px;
  height: 982px;
  margin-right: 100px;
}

.features-section-experience {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  height: 200px;
  position: absolute;
  margin-left: 577px;
  margin-top: -242px;
}

.features-section-experience-h2 {
  color: #ffffff;
  text-align: center;
  font-size: 4.063rem;
  font-weight: 700;
  line-height: 70px;
  padding-top: 40px;
}

.features-section-experience-p {
  color: #ffffff;
  font-size: 1.563rem;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

/* some facts starts */
.some-facts{
    margin: 100px;
}

.some-facts-h3 {
  color: var(--Dark-01, #131313);
  font-size: 2.813rem;
  font-weight: 700;
  padding: 10px 0px 10px 40px;
}

.some-facts-p {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 0px 80px 40px;
}
.achivement-p {
  color: var(--Dark-03, #727272);
  font-size: 1.25rem;
  font-weight: 600;
}
.achivement-h3 {
  color: var(--Dark-02, #424242);
  font-size: 2.813rem;
  font-weight: 600;
  padding: 20px;
}

.achivement-container{
    display: flex;
    justify-content: space-around;
}


.achivement {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 50px 30px;
}















/* responsive starts */

@media screen and (max-width: 576px) {
  /* header strats */
  header {
    padding: 30px;
  }

  nav {
    flex-direction: column;
    padding: 20px;
  }

  nav > ul li {
    padding-top: 20px;
  }

  .banner-title {
    font-size: 3rem;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  /* teams starts */

  .teams-container {
    flex-direction: column;
  }

  .teams-img-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .teams-text {
    margin: 60px;
  }

  /* features starts */
  .features-section {
    flex-direction: column;
  }

  .features-section-1 {
    margin: 20px;
  }
  .features-section-2-img {
    width: 70%;
    height: 70%;
    margin-left: 60px;
  }

  .features-section-experience {
    margin-left: 38px;
    margin-top: 37px;
    position: relative;
  }
  /* achivement starts */
  .achivement-container{
    flex-direction: column;
}

.achivement{
    margin-top: 30px;
}

}







/* Tablet starts */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }

  header {
    padding: 30px;
  }

  .banner-title {
    font-size: 3rem;
    /* padding-bottom: 20px; */
    margin-top: 20px;
  }

  /* teams starts */
  .teams-container {
    flex-direction: column;
  }
  .teams-img-list {
    margin: 0;
  }

  .teams-text {
    margin: 60px 140px;
  }
  /* features starts */
  .features-section {
    flex-direction: column;
  }
  .features-section-1-head, 
  .features-section-1-discribtion{
    margin-left: 30px;
  }
  .features-section-1 {
    margin: 0px;
    

  }
  .features-section-2-img {
    width: 70%;
    height: 70%;
    margin: 60px ;
  }
  
  .features-section-experience {
    margin-left: 240px;
    margin-top: 1px;
    position: relative;
  }
/* achivement starts */
.achivement-container{
    flex-direction: column;
}

.achivement{
    margin-top: 30px;
}











}
